.Edit3232
{
    padding-right: 10px;
    background-image: url('Images/Icons/Edit3232.ico');
    background-position: center right;
    background-repeat: no-repeat;   
    height: 32px;
    width: 32px; 
}

.Find3232
{
    padding-right: 10px;
    background-image: url('Images/Icons/Find3232.ico');
    background-position: center right;
    background-repeat: no-repeat;   
    height: 32px;
    width: 32px;   
}

.Add3232
{
    padding-right: 10px;
    background-image: url('Images/Icons/Add3232.ico');
    background-position: center right;
    background-repeat: no-repeat;   
    height: 32px;
    width: 32px;   
}

.Delete3232
{
    padding-right: 10px;
    background-image: url('Images/Icons/Delete3232.ico');
    background-position: center right;
    background-repeat: no-repeat;   
    height: 32px;
    width: 32px;   
}

.Clear3232
{
    padding-right: 10px;
    background-image: url('Images/Icons/Clear3232.ico');
    background-position: center right;
    background-repeat: no-repeat;   
    height: 32px;
    width: 32px;   
}

.Select3232
{
    padding-right: 10px;
    background-image: url('Images/Icons/Select3232.ico');
    background-position: center right;
    background-repeat: no-repeat;   
    height: 32px;
    width: 32px;   
}

.Rights3232
{
    padding-right: 10px;
    background-image: url('Images/Icons/Rights3232.ico');
    background-position: center right;
    background-repeat: no-repeat;   
    height: 32px;
    width: 32px;   
}

.UserGroupEdit3232
{
    padding-right: 10px;
    background-image: url('Images/Icons/UserGroupEdit3232.ico');
    background-position: center right;
    background-repeat: no-repeat;   
    height: 32px;
    width: 32px;   
}